
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<button class='ui button' role='button'>
        Show Modal
    </button>*@
<Example />

@section scripts{
    <script src="~/Scripts/react/dist/bundle.js"></script>
    <script src="~/Scripts/react/action/customer-pop-up.js"></script>

}