
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*<button class='ui button' role='button'>
        Show Modal
    </button>*@
<div id="app"></div>

@section scripts{
    <script src="~/Scripts/react/dist/bundle.js"></script>
}